ul {
    list-style: none;
    display: flex;
    grid-gap: 20px;
}

a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

a:hover {
    transition:color 0.25s ease 0s, padding 0.25s ease 0s;
    color: rgb(255, 105, 0);
}

nav {
    position: sticky;
    width: 100px;
}

.wrapper {
    padding: 22px 0;
}