* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.container {
  padding: 0 10%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}